@import "lib/bootstrap/less/bootstrap.less";

body {
  padding-top: 50px;
}

td.free-attribute, th.free-attribute {
  background-color: #dddca2;
}

th.header {
  background-color: #B5CeD2;
  padding-left: 10px;
}

#instanceTable {
  margin: 0;
  padding: 0;
}