@import "lib/bootstrap/less/bootstrap.less";

@grid-gutter-width: 25px;

@font-size-base: 13px;
@font-family-base: Helvetica, sans-serif;
@headings-font-weight: 600;

@navbar-default-link-color: @link-color;
@navbar-default-link-hover-color: @link-hover-color;

@navbar-inverse-bg: #33628a;
@navbar-inverse-color: #fff;
@navbar-inverse-link-color: #fff;
@navbar-inverse-link-active-color: #fff;
@navbar-inverse-link-hover-bg: lighten(@navbar-inverse-link-active-bg, 5%);
@navbar-height: 40px;

@border-radius-base: 2px;
@border-radius-large: 2px;
@border-radius-small: 1px;

@table-border-color: #ccc;

body {
  padding-top: 50px;
}

#instanceTable {
  margin: 0;
  padding: 0;
  margin-left:4px;
  margin-right:4px;

  td {
    position: relative;

    input, textarea {
      padding: @table-condensed-cell-padding;
      border: none;
      height: auto;
      width: 100%;
      background: transparent;
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }

    textarea {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      resize: none;
    }
  }

  td.current {
    border: solid 3px @component-active-bg;
  }

  td.editing {
    padding: 0;
  }

  td.free-attribute {
    background-color: darken(@table-bg-accent, 5%);
  }

  th {
    background-color: @state-info-bg;
    color: @state-info-text;
    vertical-align: top;
  }

  th.free-attribute {
    background-color: darken(@state-info-bg, 5%);
  }
}

.alignleft {
	margin-left: 10px;
	float: left;
  }
  
  .alignright {
	float: right;
	width:141px;
  }
  
  .spacebetween {
  	margin-left: 10px;
  }
  
  .marginbelow {
  	margin-bottom: 35px;
  }